.job-list .background {
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 13%, 100% 0, 100% 87%, 0 100%);
    background: var(--primary-petrol-dark, #093642);
}

.job-list .separator {
    border-top-width: 6px;
}

.job-list .btn {
    left: -60px;
}

.job-list .location {
    font-size: 1.25rem;
}