.filter-choices .background {
    position: absolute;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    width: 100%;
    height: 100%;
    top: 0;
}

.filter-btn {
    border: 2px solid #F9F9F9;
    position: relative;
    margin: 1rem 2rem;
}

.filter-btn .btn-inner {
    padding: 0.5rem 0.62rem;
    font-family: "Red Hat Mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; 
}

.filter-btn.active {
    border: 2px solid #B4D43D;
}

.filter-btn.active {
    color: #B4D43D;
}

.filter-btn .remove-term {
    border-radius: 50%;
    background-color: #B4D43D;
    padding: 0.25rem;
    position: absolute;
    top: -11px;
    right: -11px;
}

.teaser-image img {
    clip-path: polygon(80% 0, 100% 80%, 20% 100%, 0 20%);
    position: relative;
    z-index: 3;
    background-size: cover;
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.teaser-image .decoration {
    background-color: #B4D43D;
    height: 600px;
    width: 600px;
    top: -25px;
    left: -25px;
    clip-path: polygon(80% 0, 100% 80%, 20% 100%, 0 20%);
    z-index: 1;
}

.even .teaser-image {
    left: -100px;
}

.odd .teaser-image {
    right: -100px;
}

.even .showcase-image img {
    position: absolute;
    right: 3rem;
    top: 250px;
}

.odd .showcase-image img {
    position: absolute;
    left: 3rem;
    top: 250px;
}

.article-row {
    border: 4px solid var(--primary-petrol-dark, #093642);
}

.article-text {
    padding: 1.5rem 3rem;
}

.img-content img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

@media screen and (max-width: 640px) {
    .teaser-image img,
    .teaser-image .decoration {
        height: 500px;
        width: 500px;
    }
}