.filter-choices .background {
    position: absolute;
    width: 200%;
    left: -50%;
    transform: rotate(-6deg);
    height: 100%;
    top: 0;
}

.filter-choices .decoration {
    z-index: -1;
}

.filter-btn {
    border: 2px solid #F9F9F9;
    position: relative;
    margin: 1rem 2rem;
}

.filter-btn .btn-inner {
    padding: 0.5rem 0.62rem;
    font-family: "Red Hat Mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; 
}

.filter-btn.active {
    border: 2px solid #B4D43D;
}

.filter-btn.active {
    color: #B4D43D;
}

.filter-btn .remove-term {
    border-radius: 50%;
    background-color: #B4D43D;
    padding: 0.25rem;
    position: absolute;
    top: -11px;
    right: -11px;
}

.teaser-image img {
    clip-path: polygon(80% 0, 100% 80%, 20% 100%, 0 20%);
    position: relative;
    z-index: 3;
    background-size: cover;
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.teaser-image .decoration {
    background-color: #B4D43D;
    height: 600px;
    width: 600px;
    top: -25px;
    left: -25px;
    clip-path: polygon(80% 0, 100% 80%, 20% 100%, 0 20%);
    z-index: 1;
}

.even .teaser-image {
    left: -100px;
}

.odd .teaser-image {
    right: -100px;
}

.even .showcase-image img {
    position: absolute;
    right: 3rem;
    top: 250px;
}

.odd .showcase-image img {
    position: absolute;
    left: 3rem;
    top: 250px;
}

.article-row {
    border: 4px solid var(--primary-petrol-dark, #093642);
}

.article-text {
    padding: 1.5rem 3rem;
}

.img-content img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.article-row.odd {
    background-color: var(--primary-petrol-dark, #093642);
    color: var(--greyscale-white, #F9F9F9);
}

.article-row.odd h3,
.article-row.odd p,
.article-row.odd .btn-underline {
    color: var(--greyscale-white, #F9F9F9);
}

.article-row.odd .btn-underline {
    border-color: var(--greyscale-white, #F9F9F9);
}

.article-row.odd .btn-underline::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="28" viewBox="0 0 48 28" fill="none"><path d="M33.6875 26L45.6875 14L33.6875 2" stroke="%23F9F9F9" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/><rect x="12" y="12" width="18" height="4" rx="2" fill="%23F9F9F9"/><rect y="12" width="8" height="4" rx="2" fill="%23F9F9F9"/></svg>');
}

@media screen and (max-width: 640px) {
    .teaser-image img,
    .teaser-image .decoration {
        height: 500px;
        width: 500px;
    }

    .filter-btn .btn-inner {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .filter-btn {
        margin: 0 1rem 0.25rem 0;
    }
}

.filter-toggle[aria-expanded="false"] .open-toggle,
.filter-toggle[aria-expanded="true"] .close-toggle {
    display: block;
}

.filter-toggle[aria-expanded="false"] .close-toggle,
.filter-toggle[aria-expanded="true"] .open-toggle {
    display: none;
}