 .jumbotron{

 .background-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.textbox{
    background-color: var(--neutral-10);
    width: 80vw !important;
    top: -12rem;
    margin: 0 10% -12rem 10%;
    padding: 4rem;
    z-index: 2;
    height: fit-content;
    
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    max-width: 50%;
    margin-left: 10%;
}
}


.jumbotron.light{
.background-container{
    background: linear-gradient(90deg, #fffffffb 22.8%, rgb(255 255 255 / 48%) 59.16%, rgb(255 255 255 / 9%) 100%), #ffffff00 50% / cover no-repeat !important;   
}
}

.jumbotron.dark{
    .background-container{
        background: linear-gradient(90deg, #000000fb 22.8%, rgb(0 0 0 / 48%) 59.16%, rgb(0 0 0 / 9%) 100%), #00000000 50% / cover no-repeat !important;
    }

    .textbox{
        background-color: var(--neutral-100);
    }
}

.jumbotron.dark .overlay-container{
    background-color: white !important;
}

