
.jumbotron-shape-left {
    position: absolute;
}

.jumbotron-shape-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 600px;
    width: 800px;
    clip-path: polygon(0 85%, 100% 100%, 100% 74%);
    background-color: rgba(180, 212, 61, 0.6);
}

@media screen and (max-width: 640px) {
    .jumbotron-shape-bottom {
        width: 190px;
        height: 210px;
    }

    .jumbotron-section.angled-bottom {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 88%);
    }
}
