<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} recursing-brattain.37-120-171-104.plesk.page$
RewriteCond %{REQUEST_URI} !^/juniper/web/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /juniper/web/$1
RewriteCond %{HTTP_HOST} recursing-brattain.37-120-171-104.plesk.page$
RewriteRule ^(/)?$ juniper/web/index.php [L]

RewriteEngine On
RewriteRule ^$ /juniper/web/ [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/juniper/web/
RewriteRule ^(.*)$ /juniper/web/$1

# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^juniper/web/(.*[^/])$ https://recursing-brattain.37-120-171-104.plesk.page/$1/ [R=301]

</IfModule>
