<ul class="grid grid-cols-1 sm:flex sm:flex-wrap justify-start sm:justify-center text-white text-sm font-medium w-full {{ name }}">
    {% for item in items %}
        <li class="mb-2 sm:mb-0 sm:text-center text-left sm:mx-8">
            <a href="{{ item.link }}" class="hover:underline uppercase">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>