<div class="footer-container bg-black text-white py-20">
    <div class="container grid grid-cols-1 md:grid-cols-5 gap-[24px]">
        <div class="order-3 md:order-1 col-span-1 flex flex-row md:flex-col p-[40px] md:p-0 justify-between	md:justify-start">
            <a href="{{site.url}}" class="flex items-center mb-8 sm:mb-6">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewbox="0 0 60 60" fill="none">
                    <g clip-path="url(#clip0_683_11)">
                        <path d="M57.1294 0H2.87056C1.28519 0 0 1.28519 0 2.87056V57.1294C0 58.7148 1.28519 60 2.87056 60H57.1294C58.7148 60 60 58.7148 60 57.1294V2.87056C60 1.28519 58.7148 0 57.1294 0Z" fill="#FFEF00"/>
                        <path d="M11.4733 7.60327H8.20307C7.87195 7.60327 7.60352 7.87169 7.60352 8.20281V51.797C7.60352 52.1281 7.87195 52.3966 8.20307 52.3966H11.4733C11.8044 52.3966 12.0729 52.1281 12.0729 51.797V8.20281C12.0729 7.87169 11.8044 7.60327 11.4733 7.60327Z" fill="black"/>
                        <path d="M40.3241 52.3877C40.1651 52.3877 40.0126 52.3245 39.9002 52.2121C39.7878 52.0996 39.7246 51.9471 39.7246 51.7881V8.18476C39.7269 8.02648 39.7908 7.87533 39.9028 7.7634C40.0147 7.65147 40.1659 7.58756 40.3241 7.58521H51.7973C51.8768 7.5852 51.9555 7.60101 52.0288 7.63171C52.1021 7.6624 52.1687 7.70737 52.2244 7.76401C52.2802 7.82065 52.3242 7.88782 52.3538 7.96162C52.3834 8.03541 52.398 8.11436 52.3968 8.19386V17.7775C52.3945 17.9358 52.3305 18.0869 52.2186 18.1989C52.1067 18.3108 51.9555 18.3747 51.7973 18.3771H48.5724C48.4134 18.3771 48.2609 18.3139 48.1485 18.2015C48.036 18.089 47.9729 17.9365 47.9729 17.7775V12.6723C47.9729 12.5109 47.9088 12.3561 47.7946 12.2419C47.6805 12.1278 47.5257 12.0637 47.3643 12.0637H44.8389C44.6791 12.0661 44.5266 12.1312 44.4144 12.2451C44.3022 12.359 44.2393 12.5124 44.2393 12.6723V47.3097C44.2393 47.4687 44.3025 47.6212 44.4149 47.7336C44.5274 47.8461 44.6799 47.9093 44.8389 47.9093H47.3643C47.4437 47.9105 47.5227 47.8958 47.5965 47.8662C47.6703 47.8367 47.7374 47.7927 47.7941 47.7369C47.8507 47.6811 47.8957 47.6146 47.9264 47.5413C47.9571 47.4679 47.9729 47.3892 47.9729 47.3097V36.2908C47.9729 36.1294 47.9088 35.9746 47.7946 35.8604C47.6805 35.7463 47.5257 35.6821 47.3643 35.6821H47.1553C47.0758 35.6834 46.9969 35.6687 46.9231 35.6391C46.8493 35.6095 46.7821 35.5656 46.7255 35.5098C46.6689 35.454 46.6239 35.3875 46.5932 35.3141C46.5625 35.2408 46.5467 35.1621 46.5467 35.0826V31.8214C46.5467 31.66 46.6108 31.5052 46.725 31.3911C46.8391 31.2769 46.9939 31.2128 47.1553 31.2128H51.8336C51.9934 31.2152 52.1459 31.2804 52.2581 31.3942C52.3703 31.5081 52.4332 31.6616 52.4331 31.8214V51.8063C52.4331 51.9653 52.37 52.1178 52.2575 52.2302C52.1451 52.3427 51.9926 52.4058 51.8336 52.4058L40.3241 52.3877Z" fill="black"/>
                        <path d="M16.2334 52.3877C16.0743 52.3877 15.9218 52.3245 15.8094 52.2121C15.697 52.0996 15.6338 51.9471 15.6338 51.7881V8.1848C15.6338 8.02494 15.6967 7.87149 15.8089 7.75761C15.921 7.64373 16.0735 7.57856 16.2334 7.57617H19.5036C19.665 7.57617 19.8198 7.6403 19.934 7.75444C20.0481 7.86858 20.1122 8.02338 20.1122 8.1848V47.2461C20.111 47.3252 20.1257 47.4037 20.1554 47.477C20.1851 47.5503 20.2292 47.6168 20.2851 47.6728C20.341 47.7287 20.4076 47.7728 20.4809 47.8025C20.5542 47.8322 20.6327 47.8469 20.7118 47.8456H23.2371C23.3961 47.8456 23.5486 47.7825 23.6611 47.67C23.7735 47.5576 23.8367 47.4051 23.8367 47.2461V31.8033C23.8367 31.6418 23.9008 31.487 24.0149 31.3729C24.1291 31.2587 24.2839 31.1946 24.4453 31.1946H27.5339C27.6953 31.1946 27.8501 31.2587 27.9642 31.3729C28.0784 31.487 28.1425 31.6418 28.1425 31.8033V47.2461C28.1413 47.3252 28.156 47.4037 28.1856 47.477C28.2153 47.5503 28.2595 47.6168 28.3154 47.6728C28.3713 47.7287 28.4379 47.7728 28.5112 47.8025C28.5845 47.8322 28.663 47.8469 28.7421 47.8456H31.0857C31.1652 47.8468 31.2442 47.8322 31.318 47.8026C31.3918 47.7731 31.4589 47.7291 31.5156 47.6733C31.5722 47.6175 31.6172 47.551 31.6479 47.4777C31.6786 47.4043 31.6944 47.3256 31.6944 47.2461V8.1848C31.6932 8.1053 31.7078 8.02636 31.7374 7.95257C31.767 7.87878 31.8109 7.81162 31.8667 7.75498C31.9225 7.69834 31.989 7.65336 32.0624 7.62266C32.1357 7.59196 32.2144 7.57616 32.2939 7.57617H35.5642C35.7256 7.57617 35.8804 7.6403 35.9945 7.75444C36.1087 7.86858 36.1728 8.02338 36.1728 8.1848V51.7881C36.1728 51.8676 36.157 51.9463 36.1263 52.0197C36.0956 52.093 36.0506 52.1595 35.994 52.2153C35.9373 52.2711 35.8702 52.3151 35.7964 52.3447C35.7226 52.3743 35.6437 52.3889 35.5642 52.3877H16.2334Z" fill="black"/>
                        <path d="M55.2945 3.7879H54.8403V4.60546H55.2945C55.3509 4.60916 55.4074 4.60138 55.4607 4.58261C55.5139 4.56384 55.5629 4.53446 55.6045 4.49626C55.6461 4.45805 55.6795 4.4118 55.7027 4.36031C55.726 4.30882 55.7385 4.25315 55.7396 4.19668C55.7398 4.13979 55.7282 4.0835 55.7054 4.03137C55.6826 3.97925 55.6492 3.93246 55.6073 3.89398C55.5654 3.85551 55.516 3.8262 55.4621 3.80793C55.4082 3.78967 55.3511 3.78284 55.2945 3.7879ZM55.7214 6.06799L55.1946 4.99607H54.8494V6.06799H54.3498V3.34278H55.3672C55.4826 3.33407 55.5985 3.34916 55.7079 3.38712C55.8172 3.42509 55.9176 3.48511 56.0028 3.56347C56.0879 3.64183 56.1561 3.73686 56.203 3.84266C56.25 3.94846 56.2747 4.06277 56.2756 4.17851C56.2781 4.34162 56.2271 4.50105 56.1303 4.63234C56.0334 4.76362 55.8962 4.8595 55.7396 4.90524L56.3119 6.04982L55.7214 6.06799ZM55.2582 2.67964C54.8521 2.67062 54.4526 2.78278 54.1105 3.00181C53.7685 3.22084 53.4994 3.53681 53.3378 3.9094C53.1761 4.28199 53.1291 4.6943 53.2027 5.09373C53.2764 5.49315 53.4674 5.86157 53.7513 6.15198C54.0353 6.44239 54.3993 6.64161 54.797 6.72422C55.1947 6.80684 55.6079 6.7691 55.984 6.61583C56.3602 6.46256 56.6821 6.20069 56.9088 5.86366C57.1354 5.52663 57.2565 5.12971 57.2566 4.72355C57.2615 4.45763 57.2134 4.19341 57.1152 3.94623C57.0171 3.69904 56.8708 3.47383 56.6848 3.28367C56.4989 3.09351 56.277 2.94218 56.0321 2.83849C55.7872 2.7348 55.5241 2.6808 55.2582 2.67964ZM55.2582 7.22166C54.7619 7.22165 54.2768 7.07438 53.8643 6.79848C53.4518 6.52259 53.1304 6.13048 52.941 5.67182C52.7515 5.21316 52.7023 4.70858 52.7998 4.22199C52.8973 3.73539 53.137 3.28868 53.4885 2.9384C53.8401 2.58813 54.2877 2.35006 54.7746 2.25435C55.2616 2.15864 55.766 2.20959 56.2239 2.40074C56.6819 2.5919 57.0728 2.91467 57.3472 3.32816C57.6216 3.74166 57.7671 4.22729 57.7653 4.72355C57.7629 5.38692 57.4977 6.02231 57.0278 6.49053C56.5579 6.95876 55.9215 7.22166 55.2582 7.22166Z" fill="black"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_683_11">
                            <rect width="60" height="60" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>

                {# <img src="{{ footer_logo }}" class="h-[95px] w-[6.25rem] mr-3" alt="{{site.name}}" /> #}
            </a>
            <div class="min-w-[50%] md:min-w-0">
            <p class="text-base font-normal leading-6">Sonnenblumenweg 1</p>
            <p class="text-base font-normal leading-6">1182 Markgrafneusiedl</p>
            <p class="text-base font-normal leading-6">+43 (0) 2287 71073</p>
            <p class="text-base font-normal leading-6">office@iwgplating.com</p>
            </div>
        </div>
        <div class="flex items-center order-4 md:order-2 col-span-1 justify-between	md:justify-start px-[40px]">
        <div class="w-[60px] md:w-0"></div>
            {% include "footer-menu.twig" with {'items': footer_menu.get_items, 'name': 'footer-menu' } %}
        </div>
        <div class="flex flex-row md:flex-col justify-center items-center gap-2 order-1 md:order-3 col-span-1">
        <a href="https://www.linkedin.com/company/iwg-plating/" >
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 17 17" fill="none">
                <path d="M4.39211 14.875H1.3082V4.94392H4.39211V14.875ZM2.8485 3.58923C1.86236 3.58923 1.0625 2.77243 1.0625 1.7863C1.0625 1.31263 1.25067 0.858351 1.58561 0.523411C1.92055 0.188472 2.37482 0.000305176 2.8485 0.000305176C3.32217 0.000305176 3.77645 0.188472 4.11139 0.523411C4.44633 0.858351 4.63449 1.31263 4.63449 1.7863C4.63449 2.77243 3.8343 3.58923 2.8485 3.58923ZM15.9342 14.875H12.8569V10.0406C12.8569 8.88845 12.8337 7.41091 11.2535 7.41091C9.65016 7.41091 9.40445 8.66267 9.40445 9.95759V14.875H6.32387V4.94392H9.2816V6.29861H9.32477C9.73648 5.51833 10.7422 4.69489 12.2427 4.69489C15.3638 4.69489 15.9375 6.75017 15.9375 9.4197V14.875H15.9342Z" fill="white"/>
            </svg>
        </a>
        <a href="https://www.youtube.com/channel/UCBckf7OxfbEoTy0cVT0I22Q" >
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewbox="0 0 21 21" fill="none">
                <path d="M13.4892 9.95367L9.55172 7.32867C9.45286 7.26272 9.33795 7.22485 9.21926 7.2191C9.10056 7.21334 8.98253 7.23993 8.87776 7.29602C8.77299 7.35211 8.68542 7.4356 8.62439 7.53757C8.56337 7.63954 8.53117 7.75617 8.53125 7.875V13.125C8.53117 13.2438 8.56337 13.3605 8.62439 13.4624C8.68542 13.5644 8.77299 13.6479 8.87776 13.704C8.98253 13.7601 9.10056 13.7867 9.21926 13.7809C9.33795 13.7752 9.45286 13.7373 9.55172 13.6713L13.4892 11.0463C13.5792 10.9864 13.6531 10.9052 13.7041 10.8099C13.7552 10.7146 13.7819 10.6081 13.7819 10.5C13.7819 10.3919 13.7552 10.2854 13.7041 10.1901C13.6531 10.0948 13.5792 10.0136 13.4892 9.95367ZM9.84375 11.8986V9.10547L11.9421 10.5L9.84375 11.8986ZM19.2224 5.70282C19.1451 5.4004 18.997 5.12071 18.7903 4.88679C18.5837 4.65288 18.3243 4.47146 18.0338 4.3575C15.2217 3.27141 10.7461 3.28125 10.5 3.28125C10.2539 3.28125 5.77828 3.27141 2.96625 4.3575C2.67567 4.47146 2.41634 4.65288 2.20967 4.88679C2.003 5.12071 1.85491 5.4004 1.77762 5.70282C1.56516 6.52149 1.3125 8.01774 1.3125 10.5C1.3125 12.9823 1.56516 14.4785 1.77762 15.2972C1.8548 15.5998 2.00283 15.8796 2.20951 16.1137C2.41619 16.3477 2.67557 16.5293 2.96625 16.6433C5.66016 17.6827 9.87656 17.7188 10.4459 17.7188H10.5541C11.1234 17.7188 15.3423 17.6827 18.0338 16.6433C18.3244 16.5293 18.5838 16.3477 18.7905 16.1137C18.9972 15.8796 19.1452 15.5998 19.2224 15.2972C19.4348 14.4769 19.6875 12.9823 19.6875 10.5C19.6875 8.01774 19.4348 6.52149 19.2224 5.70282ZM17.9517 14.9723C17.9267 15.073 17.8782 15.1663 17.8102 15.2446C17.7422 15.3228 17.6566 15.3839 17.5604 15.4227C14.9641 16.4251 10.5484 16.4071 10.5057 16.4071H10.5C10.4557 16.4071 6.04324 16.4235 3.44531 15.4227C3.34915 15.3839 3.26355 15.3228 3.19553 15.2446C3.12752 15.1663 3.07902 15.073 3.05402 14.9723C2.85469 14.2234 2.625 12.8436 2.625 10.5C2.625 8.15637 2.85469 6.7766 3.04828 6.03176C3.07282 5.93052 3.1211 5.83657 3.18914 5.75769C3.25718 5.67881 3.34303 5.61726 3.43957 5.57813C5.94316 4.61098 10.1382 4.59375 10.482 4.59375H10.5041C10.5484 4.59375 14.965 4.57899 17.5588 5.57813C17.655 5.61694 17.7406 5.67799 17.8086 5.75627C17.8766 5.83455 17.9251 5.92784 17.9501 6.02848C18.1453 6.7766 18.375 8.15637 18.375 10.5C18.375 12.8436 18.1453 14.2234 17.9517 14.9682V14.9723Z" fill="white"/>
            </svg>
        </a>
        </div>
        <div class="col-span-1 p-[40px] md:col-span-2 flex flex-col justify-center order-2 md:order-4 bg-[#222] md:bg-black">
            <p class="font-bold leading-6 pb-2">Newsletter </p>
            <p class="mb-7" >Jetzt anmelden und immer bestens informiert sein!
            Hier finden Sie Informationen zu unserer <a href="/datenschutz">Datenschutzerklärung</a>.</p>
             {% apply shortcodes %}
                [footernewsletter]
            {% endapply %}
        </div>
    </div>
    {% apply shortcodes %}
                [ls_contact_button]
    {% endapply %}
    

   
</div>

