<div class="footer-container bg-black text-white py-20">
    <div class="container grid grid-cols-4">
        <div>
            <a href="{{site.url}}" class="flex items-center mb-8 sm:mb-6">
                <img src="{{ footer_logo }}" class="h-[95px] w-[6.25rem] mr-3" alt="{{site.name}}" />
            </a>
            <p>Sonnenblumenweg 1</p>
            <p>1182 Markgrafneusiedl</p>
            <p>+43 (0) 2287 71073</p>
            <p>office@iwgplating.com</p>
        </div>
        <div>
            {% include "footer-menu.twig" with {'items': footer_menu.get_items, 'name': 'footer-menu' } %}
        </div>
        <div>
            Linkedin
            Youtube
        </div>
        <div class="">
            {% apply shortcodes %}
                [footernewsletter]
            {% endapply %}
        </div>
    </div>
    <div class="container">
        <p>2024 IWG Ing. W. Garhöfer Ges.m.b.H.</p>
    </div>
</div>

