{% extends "base.twig" %}



{% block content %}

	{# {% block jumbotron %}
		{% include "blocks/jumbotron.twig" %}
	{% endblock %}#}
	
	{% block breadcrumbs %}
    	{% include "blocks/breadcrumbs.twig" with {'home_page_url': home_page_url, 'parent_page_title': parent_page_title, 'parent_page_url': parent_page_url, 'page_title': page_title, 'page_url': page_url} %}
	{% endblock %}

	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				<div class="article-body container mb-12">
					{{post.content}}
				</div>
			</section>

			<!-- comment box -->
			{# <section class="comment-box">
				<!-- comments -->
				<div class="comments">
				    {% if post.comments %}
					<h3> comments </h3>
					{% for cmt in post.comments %}
					    {% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				    {% endif %}
				</div>

				{% if post.comment_status == "closed" %}
					<p> comments for this post are closed </p>
				{% else %}
				    <!-- comment form -->
				    {% include "comment-form.twig" %}
				{% endif %}
			</section> #}
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
