<div class="bc-rounded-md {% if cardStyle == 'gradient' %} bc-bg-gradient-to-tr bc-from-[#667eea] bc-to-[#764ba2] bc-text-white {% else %} bc-bg-white {% endif %} bc-shadow bc-mb-6">
    {% block cardContent %}{% endblock %}
</div>
