{% macro component(config, localized) %}
    {% embed "system/embed/form-row.html.twig" %}
        {% block label %}
            <label for="{{ config.id }}">{{ config.label | raw }}</label>
        {% endblock %}

        {% block input %}
            {% import "system/macro/form-component/input.html.twig" as input %}
            {{ input.component(config, localized) }}
        {% endblock %}
    {% endembed %}
{% endmacro %}
