<table class="bc-table-fixed bc-w-full bc-divide-y bc-divide-gray-300" {% if dataAttribute is not empty %}{{ dataAttribute | raw }}{% endif %}>
    <thead class="bc-bg-gray-800">
    <tr class="bc-text-left bc-text-sm bc-font-semibold bc-text-white">
        {% block heading %}{% endblock %}
    </tr>
    </thead>
    <tbody class="bc-bg-white bc-rounded-b-md">
    {% block body %}{% endblock %}
    </tbody>
</table>
