<div class="bc-w-2/3">
    {% embed "system/embed/card/card-with-title.html.twig" with {contentSpacing: false} %}
        {% import "system/macro/card/card-heading.html.twig" as card_heading %}
        {% import "system/macro/row/save.html.twig" as row_save %}

        {% block header %}
            {{ card_heading.component({
                title: localized.headline.serviceGroupInformation,
            }) }}
        {% endblock %}

        {% block content %}
            {% import "system/macro/row/select.html.twig" as row_select %}
            {{ row_select.component({
                id: 'serviceGroupId',
                label: localized.field.serviceGroupId,
                name: 'serviceGroupId',
                options: serviceGroups.list,
                value: data.serviceGroupId == '' ? '' : data.serviceGroupId,
            }) }}

            {{ row_save.component({
                backLink: "?page=#{controllerId}",
            }, localized) }}
        {% endblock %}
    {% endembed %}
</div>

