
.featured-persons-background {
    min-height: 600px;
    top: 0;
    width: 200%;
    left: -50%;
    transform: rotate(3.702deg);
    border-bottom: 12px solid var(--primary-green, #B4D43D);
}

.featured-persons-card.swiper-slide {
    width: 300px;
    height: 400px;
}

.featured-persons-card.swiper-slide img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.featured-persons-card {
    position: relative;
}

.featured-persons-card:hover {
    cursor: pointer;
}

.featured-persons-card .overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
}

.featured-persons-card:hover .overlay {
    opacity: 1;
    display: flex;
    background-color: rgba(0,0,0,0.4);
}

.featured-persons-card .top-decoration {
    background-color: rgba(180, 212, 61, 0.60);
    height: 11rem;
    width: 100%;
    clip-path: polygon(100% 0, 0 0, 0 53%);
}

.featured-persons-card .name {
    position: absolute;
    color: #fff;
    font-size: 1.75rem;
    font-weight: bold;
    text-orientation: mixed;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    height: 100%;
    text-align: center;
    color: #fff;
    left: 1rem;
}

.featured-persons-card .skill-list {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
    background-color:  #B4D43D;
    color: #093642;
    position: absolute;
    bottom: 0;
    height: fit-content;
    width: 100%;
    padding: 2rem;
}



.featured-persons .swiper-button-next,
.featured-persons .swiper-button-prev {
    width: 4.375rem;
    height: 4.375rem;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
}

.featured-persons .swiper-button-prev::after,
.featured-persons .swiper-button-next::after {
    display: none;
}
