.breadcrumbs .page {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.breadcrumbs .page svg {
    max-height: 100%;
    max-width: 100%;
}


@media screen and (max-width: 640px) {
    .breadcrumbs .page {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}
