{#
 	Title: Breadcrumbs
 	Description: Breadcrumbs for given page
 	Category: formatting
 	Icon: admin-comments
 	Keywords: breadcrumbs
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects services
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}


<section class="breadcrumbs container h-10 justify-start items-center flex mx-auto mb-[0.875rem] mt-3 sm:mt-16">
	<div class="justify-start items-center inline-flex gap-x-2">
		<div class="page">			
			<a class="flex items-center text-gray text-xs sm:text-sm" href={{ home_page_url }}>
				Home
			</a>
		</div>
		{% if parent_page_title %}
			<span class="wps-icon-arrow"></span>
			<div class="page justify-start items-center flex text-gray text-xs sm:text-sm">
				<a href={{ parent_page_url}}>
					{{ parent_page_title }}
				</a>
			</div>
		{% endif %}
		{% if page_title %}
			<span class="wps-icon-arrow"></span>
			<div class="page current justify-start items-center flex text-xs sm:text-sm text-ellipsis">
				{{ page_title }}
			</div>
		{% endif %}
	</div>
</section>






