{#
 	Title: code-snippet
 	Description: Block which shows a code snippet of the project
 	Category: formatting
 	Icon: admin-comments
 	Keywords: code developer technik
 	Mode: edit
 	Align: full
 	PostTypes: page post projects jobs
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}
<section class="code-snippet ">
	<div class="code-snippet-background"></div>
	<div class="container mx-auto pt-[10rem]">
		<h2 class="mb-6 text-white">{{fields.title}}</h2>
		<div class="w-[65vw] text-white">{{fields.description}}</div>
		<div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3 mt-[6rem]">
			<div class="col-span-1">
				<div class="flex justify-center">
					<img class="w-96 h-auto object-cover" src={{ fields.image.sizes.large }}></div>
			</div>
			<div class="col-span-2 mt-20">
				<p class="text-white">{{ fields.code_snippet }}</p>
			</div>
		</div>
	</div>
</section>

