{#
 	Title: Decorator Image
 	Description: Shows an image in the style of the WP Stars design
 	Category: formatting
 	Icon: admin-comments
 	Keywords: image
 	Mode: edit
 	Align: full
 	PostTypes: page post
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="decorator-image relative w-full">
	<div class="img-content">				
		<div class="content-image" style="background-image: url('{{ fields.image }}');"></div>
		<div class="h-[500px] w-[500px]">
			<div class="img-triangle absolute z-10">
				<svg xmlns="http://www.w3.org/2000/svg" width="158" height="532" viewBox="0 0 158 532" fill="none">
					<path d="M167 2.91992e-05L-6.89229e-05 394.193L167 532L167 2.91992e-05Z" fill="#B4D43D" fill-opacity="0.6"/>
				</svg>
			</div>
		</div>
	</div>
</div>