{#
 	Title: Filter
 	Description: This filters a chosen post type
 	Category: formatting
 	Icon: admin-comments
 	Keywords: filter posts
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects services
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

{% if fields.shop == true %}

	<div class="filter-entry-shop" data-initial-data='{{ data }}'></div>
{% elseif fields.shop == false or fields.shop == undefined %}
	<div class="filter-entry" data-initial-data='{{ data }}'></div>
{% endif %}



