{#
 	Title: Job List
 	Description: Shows a list of all post types for jobs
 	Category: formatting
 	Icon: admin-comments
 	Keywords: job list
 	Mode: edit
 	Align: full
 	PostTypes: page post
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}


<div class="job-list w-full relative">
	<div class="background"></div>
	<div class="container m-auto py-40 text-white min-h-[600px]">
		{% for job in jobs %}
			<div class="job flex flex-col justify-center text-center py-20 px-[3.3rem]">
				<h3 class="text-white mb-8">{{ job.post_title }}</h3>
				<p class="uppercase mb-10 location">
					<svg class="inline" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
						<g clip-path="url(#clip0_734_2095)">
							<path d="M21.5 9.99976C21.5 16.9998 12.5 22.9998 12.5 22.9998C12.5 22.9998 3.5 16.9998 3.5 9.99976C3.5 7.61281 4.44821 5.32362 6.13604 3.63579C7.82387 1.94797 10.1131 0.999756 12.5 0.999756C14.8869 0.999756 17.1761 1.94797 18.864 3.63579C20.5518 5.32362 21.5 7.61281 21.5 9.99976Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
							<path d="M12.5 12.9998C14.1569 12.9998 15.5 11.6566 15.5 9.99976C15.5 8.3429 14.1569 6.99976 12.5 6.99976C10.8431 6.99976 9.5 8.3429 9.5 9.99976C9.5 11.6566 10.8431 12.9998 12.5 12.9998Z" stroke="#F9F9F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</g>
						<defs>
							<clipPath id="clip0_734_2095">
							<rect width="24" height="24" fill="white" transform="translate(0.5 -0.000244141)"/>
							</clipPath>
						</defs>
					</svg>
					{{ job.fields.location }}
				</p>
				<p class="mb-24">{{ job.fields.intro }}</p>
				<a class="btn btn-underline-white ml-auto mt-10 self-end" href="{{ job.permalink }}">
					<span>Weitere Infos</span>
				</a>
			</div>
			{% if not loop.last %}
				<hr class="w-full border-top border-white separator" />
			{% endif %}
		{% endfor %}
	</div>
</div>