{#
 	Title: Job Facts
 	Description: Job single page overview
 	Category: formatting
 	Icon: admin-comments
 	Keywords: job facts
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<div class="job-facts-outer w-full">
	<div class="job-facts-inner">
		<div class="container mx-auto text-white py-40">
			<div class="mb-[6.25rem]">
				<h2 class="text-white mb-10">Deine Aufgaben:</h2>
				<ul>
					{% for item in fields.facts %}
						<li>{{ item.fact }}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="mb-40">
				<h2 class="text-white mb-10">Dein Profil:</h2>
				<ul>
					{% for item in fields.requirements %}
						<li>{{ item.requirement }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="border-white border-4 p-10 w-full text-center">
				<p class="uppercase salary-label">Jahresbruttogehalt zwischen</p>
				<p class="salary-value"><span>€{{ fields.salary_range.salary_start }} - €{{ fields.salary_range.salary_end }}</span></p>
			</div>
		</div>
	</div>
</div>