{#
 	Title: Tagline
 	Description: Shows a tagline component
 	Category: formatting
 	Icon: admin-comments
 	Keywords: tagline
 	Mode: edit
 	Align: full
 	PostTypes: page post
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}


<p class="tagline">{{ fields.tagline }}</p>