{#
 	Title: Taxonomy Landing Page Links
 	Description: Shows the taxonomy of the current post and a link to a chosen landing page
 	Category: formatting
 	Icon: admin-comments
 	Keywords: taxonomy landing page links
 	Mode: edit
 	Align: full
 	PostTypes: page post jobs projects services
 	SupportsAlign: left right full
 	SupportsMode: true
 	SupportsMultiple: true
#}

<section class="container mx-auto tax-links mb-20">
	<div class="inline-flex flex-wrap">
		{% for term in terms %}
			<a class="btn-taxonomy w-fit inline-flex border-2 border-dark mb-2" href="{{ term.fields.landing_page }}">
				<span class="h-full bg-dark flex justify-center items-center p-1">
					<img src="{{ term.fields.light_svg_icon }}" alt="Taxonomy Icon" />
				</span>
				<span class="flex justify-center items-center term-inner">{{ term.name }}</span>
			</a>
		{% endfor %}
	</div>
</section>