h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

h2 {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 125% */
}

h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
}

h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
}

label {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

select {
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


#navbarToggler {
    .open-menu {
        display: flex;
    }
    .close-menu {
        display: none;
    }
    &.navbar-open {
        .open-menu {
            display: none;
        }
        .close-menu {
            display: flex;
        }

    }
}


.product-taxonomies {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    text-transform: uppercase;
}

.woocommerce .quantity .qty {
    line-height: inherit;
    height: 100%;
}

.woocommerce-message {
    border: 1px solid #49B865;
    background: #F4FFF7;
    color: #000;
}

.woocommerce-message .button.wc-forward {
    background-color: transparent;
    text-decoration-line: underline;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-left: auto;
    color: #000;
    &:hover {
        background-color: transparent;
    }
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
    top: calc(50% - 12px);
}


.woocommerce-message::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M16.2806 9.21937C16.3504 9.28903 16.4057 9.37175 16.4434 9.46279C16.4812 9.55384 16.5006 9.65144 16.5006 9.75C16.5006 9.84856 16.4812 9.94616 16.4434 10.0372C16.4057 10.1283 16.3504 10.211 16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1218 15.6557 10.039 15.6004 9.96938 15.5306L7.71938 13.2806C7.57865 13.1399 7.49959 12.949 7.49959 12.75C7.49959 12.551 7.57865 12.3601 7.71938 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44903 11.9996 8.6399 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.289 9.14964 15.3718 9.09432 15.4628 9.05658C15.5538 9.01884 15.6514 8.99941 15.75 8.99941C15.8486 8.99941 15.9462 9.01884 16.0372 9.05658C16.1283 9.09432 16.211 9.14964 16.2806 9.21937ZM21.75 12C21.75 13.9284 21.1782 15.8134 20.1068 17.4168C19.0355 19.0202 17.5127 20.2699 15.7312 21.0078C13.9496 21.7458 11.9892 21.9389 10.0979 21.5627C8.20656 21.1865 6.46928 20.2579 5.10571 18.8943C3.74215 17.5307 2.81355 15.7934 2.43735 13.9021C2.06114 12.0108 2.25422 10.0504 2.99218 8.26884C3.73013 6.48726 4.97982 4.96451 6.58319 3.89317C8.18657 2.82183 10.0716 2.25 12 2.25C14.585 2.25273 17.0634 3.28084 18.8913 5.10872C20.7192 6.93661 21.7473 9.41498 21.75 12ZM20.25 12C20.25 10.3683 19.7661 8.77325 18.8596 7.41655C17.9531 6.05984 16.6646 5.00242 15.1571 4.37799C13.6497 3.75357 11.9909 3.59019 10.3905 3.90852C8.79017 4.22685 7.32016 5.01259 6.16637 6.16637C5.01259 7.32015 4.22685 8.79016 3.90853 10.3905C3.5902 11.9908 3.75358 13.6496 4.378 15.1571C5.00242 16.6646 6.05984 17.9531 7.41655 18.8596C8.77326 19.7661 10.3683 20.25 12 20.25C14.1873 20.2475 16.2843 19.3775 17.8309 17.8309C19.3775 16.2843 20.2475 14.1873 20.25 12Z" fill="black"/></svg>');
}

.product-card .gallery-image img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
    display: none;
}

.newsletterBtn{
    color: black !important;
    margin: 0rem 0rem 2rem 0rem !important;
}

.woocommerce-checkout .woocommerce-order-details .order_details,
table {
    tfoot{
        th,td{
            border-top: solid #737373 1px !important;
        }
        th{
            border-right: solid #737373 1px ;
        }
    }

    .order_item{
        .product-name{
            border-top: solid #737373 1px !important;
            border-right: solid #737373 1px ;
        }
        .product-total{
            border-top: solid #737373 1px !important;

        }
    }
}

.woocommerce-checkout .woocommerce-customer-details address{
    border-radius: 0 0 5px 5px !important;
    border: solid #737373 1px !important;
    border-top: none !important;
}

.woocommerce-customer-details--phone::before,.woocommerce-customer-details--email::before{
    display: none;
}

.woocommerce-customer-details--phone,.woocommerce-customer-details--email{
    padding-left: 0 !important;
}

.woocommerce-customer-details--email{
    margin-top: 0;
}


.components-button.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained,
.components-button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
    display: flex;
    color: #fff;
    border-radius: 4px;
    background: var(--Primary-IWG-Black, #000);
    margin-top: 16px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    right: 90px;
    position: absolute;
    z-index: 1;
    top: -5px;
    max-width: 250px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#musterbestellung {
    z-index: 99;
    .placeholder,
    .product {
        height: 72px;
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product {
        position: relative;
        img {
            object-fit: cover;
            object-position: center;
            min-width: 100%;
            min-height: 100%;
        }
    }

    .delete-product {
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        border: 1px solid #CC1718;
        background: #FEF0EF;
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .products-loading {
        animation: spin 2s linear infinite;
    }
}

.musterbestellung-custom-fields {
    select {
        padding: 0.5rem;
        border-radius: 3px;
        border: 1px solid black;
    }
}

.woocommerce-Tabs-panel{
    font-size: 14px;
    line-height: 20px;

    h4{
        margin-top: 60px;
        margin-bottom: 16px;
        font-size: 24px;
    }

    li::before {
        content: "¯";  /* Unicode character for a bullet */
        padding-right: 10px; /* Optional: Adjusts spacing between the bullet and the list item */
        font-size: 1em;
        line-height: 1em;
        vertical-align: bottom;
        font-weight: bold;
    }
}

.slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;

    li{
        margin: 0px !important;
    }

    li button:before {
        content: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSI+CjxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI1LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiM3MzczNzMiLz4KPC9zdmc+Cg==') !important;
        display: inline-block;
        opacity: 1 !important;
    }

    li.slick-active button:before {
        content: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSI+CjxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI1LjUiIGZpbGw9IiNGRkVCMDAiIHN0cm9rZT0iIzczNzM3MyIvPgo8L3N2Zz4K') !important;
        display: inline-block;
    }

}

.slick-track{
    height: 100% !important;
}

.slick-slider .slick-list{
    height: 100% !important;
}

.filter-grid{
    grid-auto-columns: minmax(0, 1fr);
}

select::-ms-expand {
    display: none !important;
}

.select-filter{
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.slick-dots{
    bottom: -10px !important;
}

body.single-product .slick-dots{
    bottom: -40px !important;
}

.single-product .woocommerce-tabs{
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.8rem;
    }

    li,p{
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
    }
}


/* mrx updates design */

.woocommerce-info {
    border-top-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    border-left-color: #000;
    border: solid 1px #000;
    margin-bottom: 0;
}

.woocommerce-info a {
    text-decoration: underline;
}

.woocommerce-form-coupon-toggle {
    margin-top: -1px;
}

.woocommerce-info::before {
    color: #000;
}


ul.woocommerce-error {
    background: rgba(255, 0, 0, 0.1);
    border: solid 1px darkred;
    margin-top: -1px;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
    border: 1px solid #000;
    border-top: 0;
    padding: 20px;
    margin: 0;
    text-align: left;
    border-radius: 0;
}

.woocommerce-form.woocommerce-form-login.login {
    border-bottom: none;
}

.woocommerce form.checkout.woocommerce-checkout {
    margin-top: 4rem;
}

form.checkout_coupon.woocommerce-form-coupon button.button {
    color: #fff;
    background: #000;
    text-align: left;
    border-radius: 4px;
    border: solid 3px #000;
    display: inline-flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    &:hover,
    &:active {
        background: var(--Greyscale-70, #4D4D4D);
        border: solid 3px var(--Greyscale-70, #4D4D4D);
    }

    &:focus {
        background: var(--Greyscale-70, #4D4D4D);
        box-shadow: 0px 0px 0px 3px #000;
        border: solid 3px white;
    }
}

div.wc-gzd-order-submit button.button.alt,
div.step-wrapper div.step-buttons button.button.alt,
button.woocommerce-button.button.woocommerce-form-login__submit {
    color: #fff;
    background-color: #000;
    text-align: left;
    border-radius: 4px;
    border: solid 3px #000;
    display: inline-flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    &:hover,
    &:active {
        background: var(--Greyscale-70, #4D4D4D);
        border: solid 3px var(--Greyscale-70, #4D4D4D);
    }

    &:focus {
        background: var(--Greyscale-70, #4D4D4D);
        box-shadow: 0px 0px 0px 3px #000;
        border: solid 3px white;
    }
}

input.input-text:focus,
input.input-text:active{
    outline: none;
    border-color: #000 !important;
    box-shadow: none;
}

form.checkout div.woocommerce-additional-fields{
    display: none;
}

form.checkout.woocommerce-checkout {
    margin-bottom: 4rem;
}

form.checkout.woocommerce-checkout span.woocommerce-input-wrapper select{
    padding: 10px 15px;
    border-radius: 4px;
}

form.checkout.woocommerce-checkout span.woocommerce-input-wrapper input.input-text {
    padding: 10px 15px;
    border-radius: 4px;
}



.select2-container--default .select2-selection--single {
    border-radius: 4px !important;
    padding: 8px 15px;
    height: auto;
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 100%;
    width: 10px;
    position: absolute;
    left: 0;
    top: 5px;
    margin-top: 0px;
    margin-left: 0px;

    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: .75em .75em;
    padding-right: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact

}

.col1-set,
.col2-set {
    margin-bottom: 4rem;
}

.col2-set.addresses a.edit {
    color: #fff;
    background-color: #000;
    text-align: left;
    border-radius: 4px;
    border: solid 3px #000;
    display: inline-flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;h1 {
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
}

    h2 {
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px; /* 125% */
    }

    h4 {
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28.8px;
    }

    h5 {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 130% */
    }

    label {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    select {
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }


    #navbarToggler {
        .open-menu {
            display: flex;
        }
        .close-menu {
            display: none;
        }
        &.navbar-open {
            .open-menu {
                display: none;
            }
            .close-menu {
                display: flex;
            }

        }
    }


    .product-taxonomies {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px; /* 100% */
        text-transform: uppercase;
    }

    .woocommerce .quantity .qty {
        line-height: inherit;
        height: 100%;
    }

    .woocommerce-message {
        border: 1px solid #49B865;
        background: #F4FFF7;
        color: #000;
    }

    .woocommerce-message .button.wc-forward {
        background-color: transparent;
        text-decoration-line: underline;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-left: auto;
        color: #000;
        &:hover {
            background-color: transparent;
        }
    }

    .woocommerce-error::before,
    .woocommerce-info::before,
    .woocommerce-message::before {
        top: calc(50% - 12px);
    }


    .woocommerce-message::before {
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M16.2806 9.21937C16.3504 9.28903 16.4057 9.37175 16.4434 9.46279C16.4812 9.55384 16.5006 9.65144 16.5006 9.75C16.5006 9.84856 16.4812 9.94616 16.4434 10.0372C16.4057 10.1283 16.3504 10.211 16.2806 10.2806L11.0306 15.5306C10.961 15.6004 10.8783 15.6557 10.7872 15.6934C10.6962 15.7312 10.5986 15.7506 10.5 15.7506C10.4014 15.7506 10.3038 15.7312 10.2128 15.6934C10.1218 15.6557 10.039 15.6004 9.96938 15.5306L7.71938 13.2806C7.57865 13.1399 7.49959 12.949 7.49959 12.75C7.49959 12.551 7.57865 12.3601 7.71938 12.2194C7.86011 12.0786 8.05098 11.9996 8.25 11.9996C8.44903 11.9996 8.6399 12.0786 8.78063 12.2194L10.5 13.9397L15.2194 9.21937C15.289 9.14964 15.3718 9.09432 15.4628 9.05658C15.5538 9.01884 15.6514 8.99941 15.75 8.99941C15.8486 8.99941 15.9462 9.01884 16.0372 9.05658C16.1283 9.09432 16.211 9.14964 16.2806 9.21937ZM21.75 12C21.75 13.9284 21.1782 15.8134 20.1068 17.4168C19.0355 19.0202 17.5127 20.2699 15.7312 21.0078C13.9496 21.7458 11.9892 21.9389 10.0979 21.5627C8.20656 21.1865 6.46928 20.2579 5.10571 18.8943C3.74215 17.5307 2.81355 15.7934 2.43735 13.9021C2.06114 12.0108 2.25422 10.0504 2.99218 8.26884C3.73013 6.48726 4.97982 4.96451 6.58319 3.89317C8.18657 2.82183 10.0716 2.25 12 2.25C14.585 2.25273 17.0634 3.28084 18.8913 5.10872C20.7192 6.93661 21.7473 9.41498 21.75 12ZM20.25 12C20.25 10.3683 19.7661 8.77325 18.8596 7.41655C17.9531 6.05984 16.6646 5.00242 15.1571 4.37799C13.6497 3.75357 11.9909 3.59019 10.3905 3.90852C8.79017 4.22685 7.32016 5.01259 6.16637 6.16637C5.01259 7.32015 4.22685 8.79016 3.90853 10.3905C3.5902 11.9908 3.75358 13.6496 4.378 15.1571C5.00242 16.6646 6.05984 17.9531 7.41655 18.8596C8.77326 19.7661 10.3683 20.25 12 20.25C14.1873 20.2475 16.2843 19.3775 17.8309 17.8309C19.3775 16.2843 20.2475 14.1873 20.25 12Z" fill="black"/></svg>');
    }

    .product-card .gallery-image img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
        display: none;
    }

    .newsletterBtn{
        color: black !important;
        margin: 0rem 0rem 2rem 0rem !important;
    }

    .woocommerce-checkout .woocommerce-order-details .order_details,
    table {
        tfoot{
            th,td{
                border-top: solid #737373 1px !important;
            }
            th{
                border-right: solid #737373 1px ;
            }
        }

        .order_item{
            .product-name{
                border-top: solid #737373 1px !important;
                border-right: solid #737373 1px ;
            }
            .product-total{
                border-top: solid #737373 1px !important;

            }
        }
    }

    .woocommerce-checkout .woocommerce-customer-details address{
        border-radius: 0 0 5px 5px !important;
        border: solid #737373 1px !important;
        border-top: none !important;
    }

    .woocommerce-customer-details--phone::before,.woocommerce-customer-details--email::before{
        display: none;
    }

    .woocommerce-customer-details--phone,.woocommerce-customer-details--email{
        padding-left: 0 !important;
    }

    .woocommerce-customer-details--email{
        margin-top: 0;
    }


    .components-button.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained,
    .components-button.wc-block-components-button.wp-element-button.wc-block-components-checkout-place-order-button.contained {
        display: flex;
        color: #fff;
        border-radius: 4px;
        background: var(--Primary-IWG-Black, #000);
        margin-top: 16px;
    }

    .tooltip {
        position: relative;
    }

    .tooltip .tooltiptext {
        right: 90px;
        position: absolute;
        z-index: 1;
        left: -130px;
        top: -5px;
        font-size: 12px;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    #musterbestellung {
        z-index: 99;
        .placeholder,
        .product {
            height: 72px;
            width: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product {
            position: relative;
            img {
                object-fit: cover;
                object-position: center;
                min-width: 100%;
                min-height: 100%;
            }
        }

        .delete-product {
            display: flex;
            padding: 6px;
            align-items: center;
            justify-content: center;
            border-radius: 40px;
            border: 1px solid #CC1718;
            background: #FEF0EF;
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .products-loading {
            animation: spin 2s linear infinite;
        }
    }

    .musterbestellung-custom-fields {
        select {
            padding: 0.5rem;
            border-radius: 3px;
            border: 1px solid black;
        }
    }

    .woocommerce-Tabs-panel{
        font-size: 14px;
        line-height: 20px;

        h4{
            margin-top: 60px;
            margin-bottom: 16px;
            font-size: 24px;
        }

        li::before {
            content: "• ";  /* Unicode character for a bullet */
            padding-right: 5px; /* Optional: Adjusts spacing between the bullet and the list item */
            font-weight: bold; /* Makes the bullet bolder */
            font-size: 26px;
            vertical-align: sub;
        }
    }

    .slick-dots {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;

        li{
            margin: 0px !important;
        }

        li button:before {
            content: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSI+CjxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI1LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiM3MzczNzMiLz4KPC9zdmc+Cg==') !important;
            display: inline-block;
        }

        li.slick-active button:before {
            content: url('data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSI+CjxjaXJjbGUgY3g9IjYiIGN5PSI2IiByPSI1LjUiIGZpbGw9IiNGRkVCMDAiIHN0cm9rZT0iIzczNzM3MyIvPgo8L3N2Zz4K') !important;
            display: inline-block;
        }

    }

    .slick-track{
        height: 100% !important;
    }

    .slick-slider .slick-list{
        height: 100% !important;
    }

    .filter-grid{
        grid-auto-columns: minmax(0, 1fr);
    }

    select::-ms-expand {
        display: none !important;
    }

    .select-filter{
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }

    .slick-dots{
        bottom: 5px !important;
    }

    .slick-dotted{
        margin-bottom: 0px !important;
    }


    .single-product .woocommerce-tabs{
        h3{
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.8rem;
        }

        li,p{
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.25rem;
        }
    }


    /* mrx updates design */

    .woocommerce-info {
        border-top-color: #000;
        border-right-color: #000;
        border-bottom-color: #000;
        border-left-color: #000;
        border: solid 1px #000;
        margin-bottom: 0;
    }

    .woocommerce-info a {
        text-decoration: underline;
    }

    .woocommerce-form-coupon-toggle {
        margin-top: -1px;
    }

    .woocommerce-info::before {
        color: #000;
    }


    ul.woocommerce-error {
        background: rgba(255, 0, 0, 0.1);
        border: solid 1px darkred;
        margin-top: -1px;
    }

    .woocommerce form.checkout_coupon,
    .woocommerce form.login,
    .woocommerce form.register {
        border: 1px solid #000;
        border-top: 0;
        padding: 20px;
        margin: 0;
        text-align: left;
        border-radius: 0;
    }

    .woocommerce-form.woocommerce-form-login.login {
        border-bottom: none;
    }

    .woocommerce form.checkout.woocommerce-checkout {
        margin-top: 4rem;
    }

    form.checkout_coupon.woocommerce-form-coupon button.button {
        color: #fff;
        background: #000;
        text-align: left;
        border-radius: 4px;
        border: solid 3px #000;
        display: inline-flex;
        padding: 0.625rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        &:hover,
        &:active {
            background: var(--Greyscale-70, #4D4D4D);
            border: solid 3px var(--Greyscale-70, #4D4D4D);
        }

        &:focus {
            background: var(--Greyscale-70, #4D4D4D);
            box-shadow: 0px 0px 0px 3px #000;
            border: solid 3px white;
        }
    }

    div.wc-gzd-order-submit button.button.alt,
    div.step-wrapper div.step-buttons button.button.alt,
    button.woocommerce-button.button.woocommerce-form-login__submit {
        color: #fff;
        background-color: #000;
        text-align: left;
        border-radius: 4px;
        border: solid 3px #000;
        display: inline-flex;
        padding: 0.625rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        &:hover,
        &:active {
            background: var(--Greyscale-70, #4D4D4D);
            border: solid 3px var(--Greyscale-70, #4D4D4D);
        }

        &:focus-visible,
        &:focus {
            background: var(--Greyscale-70, #4D4D4D);
            box-shadow: 0px 0px 0px 3px #000;
            border: solid 3px white;
        }
    }

    input.input-text:focus,
    input.input-text:active{
        outline: none;
        border-color: #000 !important;
        box-shadow: none;
    }

    form.checkout div.woocommerce-additional-fields{
        display: none;
    }

    form.checkout.woocommerce-checkout {
        margin-bottom: 4rem;
    }

    form.checkout.woocommerce-checkout span.woocommerce-input-wrapper select{
        padding: 10px 15px;
    }

    form.checkout.woocommerce-checkout span.woocommerce-input-wrapper input.input-text {
        padding: 10px 15px;
    }



    .select2-container--default .select2-selection--single {
        border-radius: 0;
        padding: 8px 15px;
        height: auto;
        padding-left: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: none;
        height: 100%;
        width: 10px;
        position: absolute;
        left: 0;
        top: 5px;
        margin-top: 0px;
        margin-left: 0px;

        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: .75em .75em;
        padding-right: 0;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact

    }

    .col1-set,
    .col2-set {
        margin-bottom: 4rem;
    }

    .col2-set.addresses a.edit {
        color: #fff;
        background-color: #000;
        text-align: left;
        border-radius: 4px;
        border: solid 3px #000;
        display: inline-flex;
        padding: 0.625rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        &:hover,
        &:active {
            background-color: var(--Greyscale-70, #4D4D4D);
            border: solid 3px var(--Greyscale-70, #4D4D4D);
        }

        &:focus-visible,
        &:focus {
            background: var(--Greyscale-70, #4D4D4D);
            box-shadow: 0px 0px 0px 3px #000;
            border: solid 3px white;
        }

    }

    div.woocommerce-gzdp-checkout-verify-data header.title {
        margin-top: 4rem;
    }
    gap: 10px;
    font-size: 14px;

    &:hover,
    &:active {
        background-color: var(--Greyscale-70, #4D4D4D);
        border: solid 3px var(--Greyscale-70, #4D4D4D);
    }

    &:focus-visible,
    &:focus {
        background: var(--Greyscale-70, #4D4D4D);
        box-shadow: 0px 0px 0px 3px #000;
        border: solid 3px white;
    }

}

div.woocommerce-gzdp-checkout-verify-data header.title {
    margin-top: 4rem;
}

body.woocommerce-checkout .shop_table {
    background-color: #fff !important;
}

button#place_order.button.alt {
    color: #000;
    background-color: #FFEB00;
    text-align: left;
    border-radius: 4px;
    display: inline-flex;
    padding: 0.625rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    border: solid 2px #FFEB00;

    &:hover {
        border: solid 2px #000;
    }

    &:focus {
        border: solid 2px #fff;
        outline: 2px solid #000;
        text-decoration: underline solid 2px #000;
    }
}


.child-link::after{
    color: #000;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="20px" viewBox="0 0 25 25"><path style="fill:%23232326" d="m17.5 5.999-.707.707 5.293 5.293H1v1h21.086l-5.294 5.295.707.707L24 12.499l-6.5-6.5z" data-name="Right"/></svg>');
    font-family: icons, sans-serif;
    font-size: 14px;
    opacity: 0;
    transform: translate(0);
    transition: all .15s ease;
    vertical-align: middle;
    padding-right: 20px;
}

.child-link:hover:after{
    opacity: 1;
    transform: translate(80px);
    padding-left: 20px;
    padding-right: 0px;
}

.child-link:hover{
    font-weight: 700;
}

.menu-second-level-container:nth-child(1) a{
    border-color: #898989;
}
.menu-second-level-container:nth-child(2) a{
    border-color: #8cd6ed;
}
.menu-second-level-container:nth-child(3) a{
    border-color: #e76e5b;
}
.wide-width {
    max-width: 650px; /* or whatever width you prefer when there are subchildren */
}
.narrow-width {
    max-width: 450px; /* or another width when there are no subchildren */
}

// utility class for lists without a list bullet
ul.no-before-element li::before {
    content: none;
    display: none;
}

div.woocommerce-tabs.wc-tabs-wrapper ul.tabs li a {
    transform: translateY(-2px);
    transition: border-color 0.3s ease;
}

div.woocommerce-tabs.wc-tabs-wrapper ul.tabs li.description_tab a {
    padding-left: 0;
}

div.woocommerce-tabs.wc-tabs-wrapper ul.tabs li.active a {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

div.woocommerce-Tabs-panel.panel.entry-content.wc-tab {
    max-width: 80%;
}

.product-card-btn:focus {
    box-shadow: 0px 0px 0px 3px #000;
    border: 3px solid #fff;
}

.gform-theme--framework .gform-field-label>.gfield_required {
    color: #000000 !important;
    font-weight: bold !important;
}

#gform_wrapper_1[data-form-index="0"].gform-theme {
    --gf-color-primary: #000 !important;
    --gf-color-primary-rgb: 0, 0, 0 !important;
    --gf-color-primary-contrast: #fff !important;
    --gf-color-primary-contrast-rgb: 255, 255, 255 !important;
    --gf-color-primary-darker: #555 !important;
    --gf-color-primary-lighter: #555 !important;
}

.text-headline {
    font-size: 2.75rem;
    line-height: 3.4375rem
}

span.wps-icon-arrow::before {
    content: "\27F6";
    vertical-align: super;
    font-size: 1em;
}

/* update all single-product buttons */
button.btn.btn-accent.add-to-musterbestellung {
    border: solid 2px #FFEB00;

    &:hover {
        border: solid 2px #000;
    }

    &:focus {
        border: solid 2px #fff;
        outline: 2px solid #000;
        text-decoration: underline solid 2px #000;
    }
}

button.btn.btn-bordered.product-question-button {
    &:hover,
    &:focus{
        text-decoration: underline solid 2px #000;
        outline: none;
    }
}
a.btn.btn-primary.single_add_to_cart_button,
button.btn.btn-primary.single_add_to_cart_button {
    background-color: #000;
    border: solid 2px #000;

    &:hover {
        background-color: #4D4D4D;
        border: solid 2px #4D4D4D;
    }

    &:focus {
        background-color: #000;
        border: solid 2px #fff;
        outline: 2px solid #000;
    }

}

div#tab-additional_information h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.woocommerce div#tab-additional_information table.shop_attributes td {
    font-style: normal;
}


body.woocommerce-multistep-checkout .woocommerce-checkout-review-order label.woocommerce-form__label.woocommerce-form__label-for-checkbox a {
    text-decoration: underline;
}

body.woocommerce-multistep-checkout .woocommerce-checkout-review-order  input.woocommerce-form__input.woocommerce-form__input-checkbox.input-checkbox  {
    color: #000;
}

body.woocommerce-account div#customer_login {
    padding-top: 100px;
}

body.woocommerce-account div#customer_login,
body.woocommerce-checkout div#customer_login {

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.8rem;
        margin-bottom: 2rem;
    }

    p.woocommerce-LostPassword.lost_password a {
        text-decoration: underline;
    }

    form.woocommerce-form.woocommerce-form-register.register,
    form.woocommerce-form.woocommerce-form-login.login {
        border: none !important;
        padding: 0;

        input {
            border-radius: 4px;
        }
    }

    button,
    button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit {
        color: #fff;
        background-color: #000;
        text-align: left;
        border-radius: 4px;
        border: solid 2px #000;
        display: inline-flex;
        padding: 0.625rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 14px;

        &:hover {
            background-color: #4D4D4D;
            border: solid 2px #4D4D4D;
        }

        &:focus {
            background-color: #000;
            border: solid 2px #fff;
            outline: 2px solid #000;
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}