h2 {
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 125% */
}

h5 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
}


.product-taxonomies {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    text-transform: uppercase;
}

.woocommerce .quantity .qty {
    line-height: inherit;
    height: 100%;
}