/* Variables */

$primary: #B4D43D;
$text: #093642;
$white: #F9F9F9;
$black: #1E1E1E;
$small: 640px;

p a {    
    font-weight: 700;
    border-bottom: 4px solid #093642;
    padding-bottom: 3px;
}

.text {
    color: $text;
}

.text-white {
    color: $white !important;
}

/* General styles */
body {
    font-family: "Red Hat Mono";
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-style: normal;
    font-weight: 500;
    color: #1e1e1e;
}

.content-wrapper {
    overflow: hidden;
}

h1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 110px;
    color: $black;
}

h2 {
    color: $black;
    font-family: "Red Hat Display";
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.125rem;
}

h3 {
    color: $text;
    font-family: "Red Hat Mono";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
}

h4 {
    font-family: "Red Hat Mono";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.75rem;
}

h6 {
    color: var(--primary-petrol-dark, #093642);
    font-family: "Red Hat Mono";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.0625rem;
}

.wps-content {
    h2 {
        margin-bottom: 1rem;
    }
    h3 {
        margin-bottom: 2rem;
    }
    h4 {
        margin-bottom: 1rem;
    }
    h5 {
        margin-bottom: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.375rem;
    }

    h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.625rem; 
    }

    h3 {
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2rem; 
    }

    h4 {
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.875rem;
    }

    body {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
    }
    
}


.description {
    font-family: "Red Hat Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.125rem;
    color: $text;
}

.tagline {
    font-family: "Red Hat Mono";
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e1e1e;
    font-weight: 600;
    font-size: 20px; 
    line-height: 30px;
}

@media screen and (max-width: 640px) {
    .tagline {
        font-size: 0.875rem; 
        line-height: 1.25rem;
    }
}

.admin-bar header {
    top: 32px;
}

.navbar {
    transition: background-color 0.5s ease;
}

.navbar.navbar-scrolled {
    background-color: rgba(9, 54, 66, 0.80);
}


.navbar.navbar-open {
    background-color: rgba(9, 54, 66, 1);
}

.navbar.navbar-open {
    min-height: 100vh;
    #menu-wrapper {
        display: flex;
    }
}

.navbar .primary-menu li a {
    color: $white;
    font-family: "Red Hat Mono";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    text-transform: uppercase;
} 

@media screen and (max-width: 640px) {
    .navbar .primary-menu li a {
        font-size: 1.375rem;
    } 
}

.navbar .secondary-menu {
    margin-top: 0;
}

.navbar .secondary-menu li a {
    color: $white;
    font-family: "Red Hat Mono";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    text-transform: none;
    padding: 0;
}

@media screen and (max-width: 640px) {
    .navbar .secondary-menu li a {
        text-transform: uppercase;
    }

    .navbar .primary-menu li a {
        text-transform: none;
    }
    
}

#navbarToggler {
    .open-menu {
        display: flex;
    }
    .close-menu {
        display: none;
    }
    &.navbar-open {
        .open-menu {
            display: none;
        }
        .close-menu {
            display: flex;
        }

    }
}

.intro-text ul li {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    padding-bottom: 1rem;
    list-style-position: inside;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none"><path d="M12.0759 18L16.0204 12.7104C16.8507 11.599 16.8075 10.0647 15.919 8.99813L13.3682 5.93887L13.1334 5.66008L8.41689 -1.47165e-06L0 0L9.07807 10.9965L3.75295 18L12.074 18L12.0759 18ZM9.67914 10.2106L2.15822 1.09459L8.06563 1.09459L12.5117 6.48149L9.67914 10.2106Z" fill="%23B4D43D"/></svg>');
}

.light {
    .intro-text ul li {
        list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none"><path d="M12.0759 18L16.0204 12.7104C16.8507 11.599 16.8075 10.0647 15.919 8.99813L13.3682 5.93887L13.1334 5.66008L8.41689 -1.47165e-06L0 0L9.07807 10.9965L3.75295 18L12.074 18L12.0759 18ZM9.67914 10.2106L2.15822 1.09459L8.06563 1.09459L12.5117 6.48149L9.67914 10.2106Z" fill="%23093642"/></svg>');
    }
}


article ul li {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem;
    padding-bottom: 1rem;
    list-style-position: inside;
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none"><path d="M12.0759 18L16.0204 12.7104C16.8507 11.599 16.8075 10.0647 15.919 8.99813L13.3682 5.93887L13.1334 5.66008L8.41689 -1.47165e-06L0 0L9.07807 10.9965L3.75295 18L12.074 18L12.0759 18ZM9.67914 10.2106L2.15822 1.09459L8.06563 1.09459L12.5117 6.48149L9.67914 10.2106Z" fill="%23093642"/></svg>');
}

/**
* Custom Utilities
 */

.btn-primary,
.gform_button[type="submit"] {
    background-color: $primary !important;
    box-sizing: border-box !important;

    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px 24px !important;
    gap: 10px !important;

    font-family: 'Red Hat Mono' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 33px !important;
    color: $text !important;
    border: 2px solid $primary !important;
    position: relative !important;
    border-radius: 0 !important;
    border: 2px solid $primary !important;
    &::after {
        content: "" !important;
        position: absolute !important;
        bottom: 0 !important;
        left: 0 !important;
        height: 60px !important;
        width: 60px !important;
        background-color: $text !important;
        clip-path: polygon(0 50%, 0% 100%, 50% 100%) !important;
    }
}


.gform_button[type="submit"] {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" viewBox="0 0 29 29" fill="none"><path d="M0 0V29H29L0 0Z" fill="%23093642"/></svg>');
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-left: 2px;
    padding-bottom: 2px;
}

@media screen and (max-width: 640px) {
    .btn-primary,
    .gform_button[type="submit"] {
        font-size: 1rem !important;
        line-height: 1.875rem !important;
    }

}

.btn-underline {
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 500;
    color: $text;
    border-bottom: 4px solid;
    border-color: $text;
    display: inline-flex;
    width: fit-content;
    position: relative;
    padding: 0.25rem 0.75rem;
    &:after {
        position: absolute;
        height: 25px;
        width: 50px;
        margin-left: 0.5rem;
        right: -60px;
        content: url("data:image/svg+xml,%3Csvg width='48' height='28' viewBox='0 0 48 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.6873 26L45.6873 14L33.6873 2' stroke='%231E1E1E' stroke-width='3.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='12' y='12' width='18' height='4' rx='2' fill='%231E1E1E'/%3E%3Crect y='12' width='8' height='4' rx='2' fill='%231E1E1E'/%3E%3C/svg%3E%0A");
    }
}

.btn-underline-white {
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 500;
    color: $white;
    border-bottom: 4px solid;
    border-color: $white;
    display: inline-flex;
    width: fit-content;
    position: relative;
    padding: 0.25rem 0.75rem;
    &:after {
        position: absolute;
        height: 25px;
        width: 50px;
        margin-left: 0.5rem;
        right: -60px;
        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="49" height="28" viewBox="0 0 49 28" fill="none"><path d="M34.5 25.9998L46.5 13.9998L34.5 1.99976" stroke="%23F9F9F9" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/><rect x="12.8125" y="11.9998" width="18" height="4" rx="2" fill="%23F9F9F9"/><rect x="0.8125" y="11.9998" width="8" height="4" rx="2" fill="%23F9F9F9"/></svg>');
    }
}


@media screen and (max-width: 640px) {
    .btn-underline {
        &:after {
            width: 1.7rem;
            right: -40px;
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18" fill="none"><path d="M19.6509 16L26.6509 9L19.6509 2" stroke="%231E1E1E" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/><rect x="7" y="7.83325" width="10.5" height="2.33333" rx="1.16667" fill="%231E1E1E"/><rect y="7.83325" width="4.66667" height="2.33333" rx="1.16667" fill="%231E1E1E"/></svg>');
        }
    }
    .btn-underline-white {
        &:after {
            content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18" fill="none"><path d="M19.6509 16L26.6509 9L19.6509 2" stroke="%23F9F9F9" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/><rect x="7" y="7.83325" width="10.5" height="2.33333" rx="1.16667" fill="%23F9F9F9"/><rect y="7.83325" width="4.66667" height="2.33333" rx="1.16667" fill="%23F9F9F9"/></svg>');
            width: 1.7rem;
            right: -40px;
        }
    }

}

.red-hat-var-medium {

    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 645;
    font-size: 26px;
    line-height: 26px;
}

.bg-dark-transparent {
    background-color: rgba(9, 54, 66, 0.7);
}

.angled-bottom {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 77%);
}

.angled-top {
    clip-path: polygon(0 0, 100% 23%, 100% 100%, 0 100%);
}

@media screen and (max-width: 640px) {
    .angled-top {
        clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 100%);
    }
}

#content {
    min-height: calc(100vh - ( 68px + 151px ));
}

.background {
    z-index: -1;
}

.textleft {
    .split-text-background {    
        height: 1000px;
        width: 500px;
        top: -200px;
        right: 0;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
}


.contact-link {
    border-bottom: 3px solid $primary;
    color: $text;
    font-family: 'Red Hat Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    display: block;
    width: fit-content;
}

.cardgrid {
    .cards {
        .card-title,
        .card-content,
        .btn-underline {
            color: $black;
        }
        .btn-underline {
            border-color: $black;
        }
        .card-content {
            font-family: "Red Hat Mono";
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.875rem; 
        }

        .even {
            top: 2rem;
            position: relative;
        }

        .card:nth-child(2),
        .card:nth-child(3),
        .card:nth-child(6),
        .card:nth-child(7),
        .card:nth-child(10), 
        .card:nth-child(11),
        .card:nth-child(14),
        .card:nth-child(15),
        .card:nth-child(18),
        .card:nth-child(19),
        .card:nth-child(22),
        .card:nth-child(23) {
            background-color: $text;
            color: $white;
            .card-title,
            .card-content,
            .btn-underline {
                color: $white;
            }

            .btn-underline {
                border-color: $white;
                &:after {
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="28" viewBox="0 0 48 28" fill="none"><path d="M33.6873 26L45.6873 14L33.6873 2" stroke="%23F9F9F9" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round"/><rect x="12" y="12" width="18" height="4" rx="2" fill="%23F9F9F9"/><rect y="12" width="8" height="4" rx="2" fill="%23F9F9F9"/></svg>');
                }
            }
        }

        @media screen and (max-width: $small) {
            .card.even {
                top: 0;
                background-color: $text;
                color: $white;
                .card-title,
                .card-content,
                .btn-underline {
                    color: $white;
                }

                .btn-underline {
                    border-color: $white;
                    &:after {
                        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18" fill="none"><path d="M19.6509 16L26.6509 9L19.6509 2" stroke="%23F9F9F9" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/><rect x="7" y="7.83325" width="10.5" height="2.33333" rx="1.16667" fill="%23F9F9F9"/><rect y="7.83325" width="4.66667" height="2.33333" rx="1.16667" fill="%23F9F9F9"/></svg>');
                    }
                }
            }

            .card.odd {
                background-color: $white;
                color: $text;
                .card-title,
                .card-content,
                .btn-underline {
                    color: $text;
                }

                .btn-underline {
                    border-color: $text;
                    &:after {
                        content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="18" viewBox="0 0 28 18" fill="none"><path d="M19.6509 16L26.6509 9L19.6509 2" stroke="%231E1E1E" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"/><rect x="7" y="7.83325" width="10.5" height="2.33333" rx="1.16667" fill="%231E1E1E"/><rect y="7.83325" width="4.66667" height="2.33333" rx="1.16667" fill="%231E1E1E"/></svg>');
                    }
                }
            }
        }
    }
}


// Timeline styles
.timeline-slider {
    position: relative;

    @media only screen and (min-width: 1280px){
        .swiper{
            margin-left: -5vw;
        }
    }
    .swiper-pagination {
        transform: rotate(80deg);
        width: 170%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        right: unset;
        left: -100px;
        top: 350px;
        height: 100px;

        .swiper-pagination-bullet {
            background: $text;
            border: 4px solid $text;
            position: relative;
            width: 2.375rem;
            height: 2.375rem;
            margin-bottom: 200px;
            opacity: unset;
            &.swiper-pagination-bullet-active {
                background-color: $primary;
            }
            &:not(:last-child):after {
                content: "";
                position: absolute;
                border: 2px solid #093642;
                width: 285px;
                height: 1px;
                top: 13px;
                left: 32px;
                background-color: #093642;
            }
            @media only screen and (max-width: 1280px) {
                &:not(:last-child):after {
                    width: 250px;
                }
            }

            @media only screen and (max-width: 1024px) {
                &:not(:last-child):after {
                    width: 140px;
                }
            }

        }
    }

    @media screen and (max-width: 640px) {
        .swiper-pagination {
            transform: rotate(-15deg);
            width: 90%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            right: unset;
            left: 36px;
            top: 60px;
            height: 180px;
            .swiper-pagination-bullet {
                background: $text;
                border: 4px solid $text;
                position: relative;
                width: 1.75rem;
                height: 1.75rem;
                margin-bottom: 200px;
                opacity: unset;
                &:not(:last-child):after {
                    content: "";
                    transform: rotate(0);
                    position: absolute;
                    border: 4px solid #093642;
                    width: 120px;
                    height: 1px;
                    top: 6px;
                    left: 20px;
                }
            }
        }
    }
}

// Footer styles

footer {
    overflow: hidden;
    background: $text;
    .asterisk {
        height: 400px;
        width: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        top: 180px;
        right: 0;    
    }
}

#content {
    .gform-theme--foundation .gform_fields {
        grid-row-gap: 20px !important;
    }
    .gform_wrapper {        
        margin-top: 2.4rem !important;
        width: 100% !important;
        input[type="text"],
        input[type="email"],
        textarea {
            border-radius: 0 !important;
            border: 2px solid var(--greyscale-60, #767676)  !important;
            &::placeholder {
                color: var(--greyscale-60, #767676) !important;
                font-family: "Red Hat Mono" !important;
                font-size: 1.125rem !important;
                font-style: normal !important;
                font-weight: 500 !important;
                line-height: 1.875rem !important;
            }
        }
        .gform_heading {
            display: none !important;
        }

        .gform_button.button {
            width: 100% !important;
        }

        .gfield_consent_label {
            font-family: "Red Hat Mono" !important;
            font-size: 0.875rem !important;
            font-style: normal !important;
            font-weight: 500 !important;
            line-height: 1.125rem !important;
        }
    } 
}

.page-404 {
    .header-bg {
        height: 200px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 70%);
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 70%);
    }
}

@media screen and (max-width: $small) {
    #contact-content {
        flex-wrap: wrap;
    } 
}


    .breadcrumbs .page {
        padding: 0.31rem;
        color: var(--greyscale-black, #1E1E1E);
        font-family: "Red Hat Mono";
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.875rem;
        text-transform: uppercase;
        position: relative;
    }
    
    
    .breadcrumbs .page svg {
        max-height: 100%;
        max-width: 100%;
    }
    
    .breadcrumbs .divider {
        height: 30px;
        width: 1px;
        margin: auto 0.69rem;
        background-color: #1e1e1e;
    }
    
    .breadcrumbs .page.current {
        font-weight: 700;
    }
    
    .breadcrumbs .page.current::after {
        content: "";
        height: 4px;
        width: 100%;
        position: absolute;
        border-bottom: 4px solid var(--primary-petrol-dark, #093642);
        left: 0;
        bottom: 0;
    }
    
    @media screen and (max-width: 640px) {
        .breadcrumbs .page {
            font-size: 1rem;
            line-height: 1.75rem;
        }
    }


    .post-type-post .article-body .wp-block-group .wp-block-group__inner-container{
        p{
            margin-bottom: 1rem;
        }
        .wp-block-video{
            margin-bottom: 3rem;
        }
        .wp-block-image{
            margin-bottom: 3rem;
        }
        h3{
            margin: 3rem 0rem 1.5rem 0rem;
        }
        h4{
            margin: 3rem 0rem 1rem 0rem;
        }

        @media screen and (max-width: 640px) {
            p{
                margin-bottom: 1.25rem;
            }
            .wp-block-video{
                margin-bottom: 2rem;
            }
            h3{
                margin: 4rem 0rem 1.5rem 0rem;
            }
            h4{
                margin: 2rem 0rem 1rem 0rem;
            }
        }
    }