<!-- FOOTER -->
<div class="bc-text-center bc-mt-4">
    <p class="bc-text-center">
        developed by
        <br>
        <a href="{{ localized.global.url.footer | raw }}" rel="nofollow noopener noreferrer" target="_blank"><img class="borlabs-logo bc-inline-block bc-h-12 bc-mt-1" src="{{ imageUrl('borlabs-logo.svg') }}" alt="Borlabs"></a>
    </p>
</div><!-- FOOTER END -->
</div><!-- .container-fluid | see header.html.twig -->

</div><!-- #BorlabsCookie | see header.html.twig -->
