.timeline-item {
    margin-bottom: 140px;
    position: relative;
}

.timeline-item:not(:last-child)::after {
    position: absolute;
    border-left: 4px solid #093642; 
    content: "";
    margin-top: 20px;
    height: 100px;
    width: 100px;
    bottom: -120px;
    left: 50px;
}

.timeline-item .timeline-tagline {
    color: var(--greyscale-white, #F9F9F9);
    font-family: "Red Hat Mono";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* 166.667% */
    text-transform: uppercase;
}

.timeline-item .timeline-text {
    color: var(--primary-green, #B4D43D);
    /* Desktop/Headline3 */
    font-family: "Red Hat Mono";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 133.333% */
}

.timeline .side-image {
    display: block;
    position: absolute;
    right: -75px;
    top: 250px;
    height: 700px;
    width: 700px; 
}

.timeline .side-image-inner {
    overflow: hidden;
    height: 800px;
    width: 800px; 
    clip-path: polygon(20% 0, 100% 20%, 80% 100%, 0 80%);
    position: relative;
}

.timeline .side-image-inner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.timeline .side-image::before {
    content: "";
    display: block;
    clip-path: polygon(20% 0, 100% 20%, 80% 100%, 0 80%);
    height: 800px;
    width: 800px;
    background-color: var(--primary-green, #B4D43D);
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -15px;
}