<div class="bc-px-3 bc-py-3 sm:bc-grid sm:bc-grid-cols-3 sm:bc-gap-4 sm:bc-px-0">
    <dt class="bc-text-xs bc-font-medium bc-text-gray-900">{% block term %}{% endblock %}</dt>
    <dd class="bc-mt-1 bc-text-xs bc-text-gray-700 sm:bc-col-span-2 sm:bc-mt-0">{% block description %}{% endblock %}</dd>
</div>
