{% macro component(config, localized) %}
    {# Merge overwrite default config with given config. #}
    {% set config = {} | merge(config) %}

    {% set name = config.id %}
    {% if config.name is not empty %}
        {% set name = config.name %}
    {% endif %}

    <div class="bc-flex bc-h-5 bc-items-center">
        <input
            type="radio"
            class="bc-h-4 bc-w-4 bc-border-gray-300 text-blue-500 focus:bc-ring-blue-500"
            id="{{ config.id }}"
            name="{{ name }}"
            value="{{ config.value }}"{% if config.checked %} checked{% endif %}
            {% if config.dataAttribute is not empty %}{{ config.dataAttribute | raw }}{% endif %}>
    </div>
{% endmacro %}
