.simple-slider .swiper-slide {
    height: 200px;
    width: 200px;
    border: 1px solid var(--greyscale-90, #343434);
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-slider .swiper-button-next, 
.simple-slider .swiper-button-prev,
.blog-slider .swiper-button-next, 
.blog-slider .swiper-button-prev {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    margin-top: 0;
    width: 4.375rem;
    height: 4.375rem;
}


.simple-slider .swiper-button-next:after, 
.simple-slider .swiper-button-prev:after,
.blog-slider .swiper-button-next:after, 
.blog-slider .swiper-button-prev:after{
    display: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: flex;
}

.quote-slider-background {
    height: 100%;
    width: 200vw;
    left: -50%;
    transform: rotate(3deg);
    min-height: 500px;
    border-bottom: 12px solid var(--primary-green, #B4D43D);
    background: var(--primary-petrol-dark, #093642);
}

@media screen and (min-width: 640px) {
    .quote-slider-background {
        top: 150px;
    }
}

.blog-slider-background {
    height: 100%;
    width: 200%;
    transform: rotate(-5deg);
    top: 50px;
    left: -50%;
    min-height: 500px;
    border-top: 12px solid var(--primary-green, #B4D43D);
    background: var(--primary-petrol-dark, #093642);
}

.blog-slider .controls-wrapper .swiper-button-prev,
.blog-slider .controls-wrapper .swiper-button-next {
    width: 4.375rem;
    height: 4.375rem;
}

.blog-slider .controls-wrapper .swiper-pagination {
    width: calc(100% - ( 4.375rem * 2));
    left: 4.375rem;
    right: 4.375rem;
}

.blog-slider .blog-slider-button-desktop {
    display: flex !important;
}

.blog-slider .blog-slider-button-mobile {
    display: none !important;
}

@media screen and (max-width: 640px) {
    .blog-slider .blog-slider-button-desktop {
        display: none !important;
    }

    .blog-slider .blog-slider-button-mobile {
        display: flex !important;
    }
}

.quote-swiper-outer {
    margin-bottom: 16rem;
}


@media screen and (max-width: 640px) {
    .quote-swiper-outer {
        margin-bottom: 8rem;
    }
}

.quote-swiper-outer .swiper-button-next,
.quote-swiper-outer .swiper-button-prev {
    width: 4.375rem;
    height: 4.375rem;
}

.quote-swiper-outer .controls-wrapper .swiper-button-prev,
.quote-swiper-outer .controls-wrapper .swiper-button-next {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
}

.quote-swiper-outer .swiper-button-next::after,
.quote-swiper-outer .swiper-button-prev::after {
    display: none;
}

.quote-swiper-outer .controls-wrapper .swiper-pagination {
    width: calc(100% - (4.375rem * 2));
    left: 4.375rem;
    right: 4.375rem;
    top: unset;
    bottom: unset;
}

.quote-swiper-outer .swiper-button-next {
    right: 0;
}

.quote-swiper-outer .swiper-button-next::after {
    content: '';
}

.quote-swiper-outer .swiper-button-prev {
    left: 0;
}

.quote-swiper-outer .swiper-button-prev::after {
    content: '';
}

.blog-slider .swiper-pagination {
    width: calc(100% - 120px);
    margin: auto;
}

.quote-swiper-outer .swiper-pagination-bullet,
.split-slider .swiper-pagination-bullet,
.blog-slider .swiper-pagination-bullet {
    border-radius: 0;
    width: 2rem;
    background: var(--greyscale-white, #F9F9F9);
    opacity: 1;
}

.quote-swiper-outer .swiper-pagination-bullet.swiper-pagination-bullet-active,
.split-slider .swiper-pagination-bullet.swiper-pagination-bullet-active,
.blog-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 5rem;
    background: var(--primary-green, #B4D43D);
}

.split-slider.light .title,
.split-slider.light .tagline {
    color: #1e1e1e;
}

.split-slider.dark .title,
.split-slider.dark .tagline {
    color: #F9F9F9;
}

.split-slider-background {
    min-height: 600px;
    top: 0;
    width: 200%;
    left: -50%;
    transform: rotate(6deg);
}

.split-slider .swiper {
    height: 450px;
}

.split-slider .intro-text {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* 166.667% */
}

.split-slider .swiper-slide {
    width: 588px;
    height: 568px;
    color: var(--greyscale-black, #1E1E1E);
    text-align: right;
    font-family: "Red Hat Mono";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    background-position: center;
}

.split-slider .swiper-slide h3 {
    color: var(--greyscale-black, #1E1E1E);
}

.split-slider.right .swiper {
    height: 568px;
}


.split-slider .swiper-button-next,
.split-slider .swiper-button-prev {
    width: 4.375rem;
    height: 4.375rem;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
}

.split-slider .controls-wrapper .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: calc(100% - (4.375rem * 2));
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    margin-top: unset;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    margin: auto;
    position: relative
}

@media screen and (max-width: 640px) {
    .split-slider.right .swiper {
        height: 450px;
    }
}

.split-slider.right .controls-wrapper {
    margin-top: calc(568px + 1.5rem);
    width: 588px;
}

.split-slider.right .controls-wrapper .swiper-button-prev,
.split-slider.right .controls-wrapper .swiper-button-next {
    width: 4.375rem;
    height: 4.375rem;
    top: unset;
    bottom: unset;
    margin-top: unset;
    margin-bottom: unset;
}

.split-slider .controls-wrapper .swiper-button-prev,
.split-slider .controls-wrapper .swiper-button-next {
    position: relative;
    left: unset;
    right: unset;
}


.split-slider .controls-wrapper .swiper-button-prev::after,
.split-slider .controls-wrapper .swiper-button-next::after {
    display: none;
}

.split-slider .slide-inner {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(0,212,255,0) 100%);
}

.split-slider .slide-inner h5 {
    font-family: "Red Hat Display";
}

.split-slider .swiper-slide a svg {
    display: inline;
}

.split-slider .swiper-slide a span {
    padding: 0.25rem;
    border-bottom: 3px solid var(--greyscale-black, #1E1E1E);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.875rem; /* 166.667% */
}

.split-slider .slide-inner {
    position: relative;
}

.split-slider .overlay .title-wrapper {
    position: absolute;
    padding-right: 1.25rem;
    padding-top: 1.13rem;
    bottom: 0;
    left: 180px;
    height: 180px;
    width: 400px;
    background: var(--primary-green, #B4D43D);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

.split-slider.light .split-slider-background {
    display: none;
}

.split-slider.light .title,
.split-slider.light .intro-text {
    color: var(--greyscale-black, #1E1E1E);
}

@media screen and (max-width: 640px) {

    .split-slider .swiper-slide {
        width: 100%;
        height: 450px;
    }
    .split-slider.right .controls-wrapper {
        margin-top: 4rem;
        width: 100%;
    }
}

.blog-slider .image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.timeline-slider .swiper-pagination {
    position: relative;
}

.timeline-slider .swiper-button-prev,
.timeline-slider .swiper-button-next {
    right: unset;
    left: unset;
    top: unset;
    margin-top: unset;
    width: 4.375rem;
    height: 4.375rem;
}


.timeline-slider .swiper-button-prev::after,
.timeline-slider .swiper-button-next::after {
    display: none;
}

.timeline-slider .timeline-slide {
    max-height: 100%;
}

@media screen and (max-width: 640px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: 2.875rem !important;
        height: 2.875rem !important;
    }

    .blog-slider .image-wrapper img {
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .timeline-slider-controls .swiper-button-prev,
    .timeline-slider-controls .swiper-button-next {
        transform: rotate(-90deg);
    }
    
}